<div class="container">
  <h3>Send a message</h3>
  <form action="/messages" method="post">
    <input type="text" name="post[sender]" placeholder="sender"><br>
    <input type="text" name="post[recipient]" placeholder="recipient"><br>
    <input type="text" name="post[message]" placeholder="message"><br>
    <input type="submit" value="Send your message">
  </form>
</div>
